body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #ada5a5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chat-container {
  width: 1100px;
  height: 600px;
  background: #4b4848;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  overflow: hidden;
}

.chat-box {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message {
  max-width: 70%;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 14px;
}

.user {
  align-self: flex-end;
  background-color: #e3ffcd;
}

.bot {
  align-self: flex-start;
  background-color: #5ebd5a;
}

#chat-form {
  display: flex;
  border-top: 1px solid #ccc;
}

#user-input {
  flex: 1;
  padding: 12px;
  border: none;
  font-size: 16px;
}

button {
  background-color: #71e64d;
  color: white;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
}
.header-box {
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding: 20px;
}

.header-box h1 {
  margin: 0;
  font-size: 28px;
}

.logo-img {
  display: block;
  margin: 10px auto;
  width: 150px;
  height: auto;
}
